@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

#articleslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.articleUlList {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-family: "Pontano Sans", sans-serif;
}

#votestitle {
  position: absolute;
  margin: auto;
  display: block;
  top: -4.3em;
  min-width: 5.5em;
  height: 2em;
  text-align: center !important;
  background: black;
  color: white;
}

#articlelinks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 1.2vh;
  padding: 1.4vh;
  font-size: 3vh;
  background-color: #bcbbbd;
  border-radius: 14px;
  box-shadow: 0.2em 0.2em 3px 1px #26191b;
  width: 25vw;
  color: #de6e4b;
}

#title:hover {
  text-decoration: underline;
}
#title {
  color: #1e1a1b;
  font-weight: bold;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  width: 100% !important;
}
#author {
  color: #423636;
  font-size: 0.7em;
}
#votes {
  color: black;
  font-size: 1.7vh;
}
#commentCount {
  color: black;
  font-size: 1.7vh;
}
#topic {
  font-size: 3vh;
  font-family: La Belle Aurore;
  color: #1e1a1b;
  align-self: flex-end;
  margin-right: 10px;
}

#fancyfont {
  font-size: 6vh;
  font-family: La Belle Aurore;
  color: #de6e4b;
}

@media only screen and (max-width: 600px) {
  .articleUlList {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  #articlelinks {
    width: 50vw;
    box-shadow: none;
  }
}
