.articleContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}

#articleTitle {
  font-size: 5vh;
  font-family: La Belle Aurore;
  color: #de6e4b;
  align-self: center;
  width: 50vw;
  text-decoration: underline;
  margin-bottom: 8vh;
  margin-left: 8vh;
}
#body {
  margin-top: 2.5vh;
  width: 50vw;
  align-self: center;
}
#commentsPost {
  grid-column: 1/3;
  grid-row: 1/2;

  display: flex;
  flex-direction: column;
  width: 40%;
}
#articleAuthor {
  color: #de6e4b;
}
#postNewComment {
  color: black;
}
#vote {
  width: 8vw;
  align-self: center;

  margin-top: 1vh;
}
@media only screen and (max-width: 600px) {
  #vote {
    width: 25vw;
  }
  #body {
    width: 80vw;
  }
}

#getCommentsLink {
  align-self: center;
}

@media only screen and (max-width: 600px) {
  #articleTitle {
    width: 90vw;
  }
}
