.commentsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#commentsHeader {
  font-size: 6vh;
  font-family: La Belle Aurore;
  color: #de6e4b;
  margin-top: 200px;
}
.comments {
  display: grid;
  grid-template-columns: 1px;
  grid-row-gap: 10px;
}
#comment {
  margin-top: 100px;
  background-color: #45434a;
  width: 50vw;
}
#getComments {
  text-align: center;

  color: black;
}

#postcomment {
  text-align: center;
  color: black;
}
#commentsBody {
  color: #de6e4b;
}
#votesButton {
  width: 8vw;
  align-self: center;

  margin-top: 1vh;
}
@media only screen and (max-width: 600px) {
  #votesButton {
    width: 25vw;
  }
}
#commentsVoteCount {
  align-self: center;
  font-size: 4vh;
}
