#comments {
  background-color: #45434a;
  border: solid 1.5px;

  text-align: center;
  display: inline-grid;
  grid-template-columns: auto auto;
  width: 50vw;
}

#getComments {
  text-align: center;

  color: black;
}

#postcomment {
  text-align: center;
  color: black;
}

#votesButton {
  width: 20%;
  background-color: #333138;
  margin-left: 15vh;
  margin-top: 1vh;
}
