.commentsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#commentsHeader {
  font-size: 6vh;
  font-family: La Belle Aurore;
  color: #de6e4b;
}
.comments {
  display: flex;
  flex-direction: column;
  background-color: #45434a;
  text-align: center;
  width: 50vw;
  align-self: center;
  margin-bottom: 10px;
}

#getComments {
  text-align: center;

  color: black;
}

#postcomment {
  text-align: center;
  color: black;
}
#commentsBody {
  color: #de6e4b;
}
#votesButton {
  width: 8vw;
  align-self: center;

  margin-top: 1vh;
}
#commentsVoteCount {
  align-self: center;
  font-size: 4vh;
}
