.homepage {
  background-color: #333138;
  margin: auto;
  align-items: center;
  width: 60%;
}

#info {
  margin-top: 12vh;
  font-size: 3.4vh;
  color: #bcbbbd;
}

#welcomeTitle {
  align-self: center;
}
