.homepage {
  background-color: #333138;
  margin: auto;
  align-items: center;
  width: 60%;
  font-size: 1.3em;
  font-family: "Pontano Sans", sans-serif;
  margin-top: 12vh;
  color: #bcbbbd;
}

#welcomeTitle {
  align-self: center;
}
