.topicDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  background-color: #333138;
}

#topicalArticleList {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#topicArticleLinks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 1.2vh;
  padding: 1.4vh;

  font-size: 3vh;
  background-color: #45434a;

  width: 25vw;
  font-family: Lato, sans-serif;
  color: #de6e4b;
}
#header {
  align-self: center;
  font-size: 3.7vh;
}
#link {
  color: black;
  text-decoration: none;

  font-style: italic;
  font-family: Lato, sans-serif;
  color: #de6e4b;
  align-self: flex-start;
}

#link:hover {
  text-decoration: underline;
}

#author {
  font-family: Lato, sans-serif;
  color: black;
  font-size: 1.7vh;
}
#topicCommentCount {
  font-family: Lato, sans-serif;
  color: black;
  font-size: 1.7vh;
}
#topicVotes {
  font-family: Lato, sans-serif;
  color: black;
  font-size: 1.7vh;
}

#articlePost {
  margin: 3em;
  align-self: center;
  background-color: #2c2b30;
  width: 80%;
  padding: 0.1em;
  margin-bottom: 15vh;
}

.articleTitle {
  text-align: center;
}

#articlePost #articlePostWrapper {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#articlePost text {
  margin: 1em;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#body {
  font-size: 2vh;
  margin: 1em;
}
#title {
  width: 50%;
}
