.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 1em;
  background-color: #333138;
}

body {
  background-color: #333138;
}

#bytitle {
  margin-left: 20px;
}

#articleTitle {
  font-size: 30px;
  margin-left: 20px;
}

#votestitle {
  margin-left: 33px;
}

#voteup {
  margin-left: 20px;
}

.formWrapper {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonOrange {
  background-color: #de6e4b !important;
  border: 0;
}

.buttonOrange:hover {
  background-color: #894029 !important;
}

.buttonOrange:focus {
  outline: none;
}

#votedown {
  margin-left: 20px;
}
#articlesheader {
  margin-left: 39px;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
